body {
  /* background-image: url("images/cash.jpg"); */
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  margin: auto;
  padding: 2rem;
}

button {
  padding: 5px;
  background-color: #fbe7c6;
  font-size: 1rem;
  margin-top: 5px;
  width: 10rem;
  border-radius: 10px 100px / 120px;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 10px;
}

input:hover {
  background-color: #ffaebc;
}

.list {
  color: yellow;
}